In [1]:
# Creando DataFrames
from pyspark.sql import SparkSession

from pyspark.sql.types import (StructType, StructField,
                               IntegerType, StringType,
                               DoubleType)

spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

23/12/26 12:01:42 WARN Utils: Your hostname, luis-Nitro-AN515-52 resolves to a loopback address: 127.0.1.1; using 192.168.1.17 instead (on interface enp7s0f1)
23/12/26 12:01:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/26 12:01:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Crear RDD
rdd = sc.parallelize([item for item in range(10)]).map(lambda x: (x, x ** 2))
rdd.collect()

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]


## Crear Dataframe

In [3]:
df = rdd.toDF(['numero', 'cudrado'])

In [4]:
# esquema del dataframe
df.printSchema()

root
 |-- numero: long (nullable = true)
 |-- cudrado: long (nullable = true)

In [6]:
# visualizar los datos
df.show(10)

+------+-------+
|numero|cudrado|
+------+-------+
|     0|      0|
|     1|      1|
|     2|      4|
|     3|      9|
|     4|     16|
|     5|     25|
|     6|     36|
|     7|     49|
|     8|     64|
|     9|     81|
+------+-------+

### Crear un DataFrame a partir de un schema

In [7]:
# Crear un DataFrame a partir de un RDD con esquema

rdd1 = sc.parallelize(
    [(1, 'Jose', 35.5),
     (2, 'Teresa', 54.3),
     (3, 'Katia', 12.7)
     ])

Primera forma de crear un esquema

In [9]:
# Crear esquema
esquema1 = StructType(
    [
     StructField('id', IntegerType(), True),
     StructField('nombre', StringType(), True),
     StructField('saldo', DoubleType(), True)
    ]
)

In [11]:
df1 = spark.createDataFrame(rdd1, schema=esquema1)

df1.printSchema()

df1.show()

root
 |-- id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- saldo: double (nullable = true)

+---+------+-----+
| id|nombre|saldo|
+---+------+-----+
|  1|  Jose| 35.5|
|  2|Teresa| 54.3|
|  3| Katia| 12.7|
+---+------+-----+

Segunda forma

In [10]:
esquema2 = "`id` INT, `nombre` STRING, `saldo` DOUBLE"

In [12]:

df2 = spark.createDataFrame(rdd1, schema=esquema2)

df2.printSchema()

df2.show()

root
 |-- id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- saldo: double (nullable = true)

+---+------+-----+
| id|nombre|saldo|
+---+------+-----+
|  1|  Jose| 35.5|
|  2|Teresa| 54.3|
|  3| Katia| 12.7|
+---+------+-----+

### Crear un DataFrame a partir de un rango de n√∫meros

In [13]:
spark.range(5).toDF('id').show()

spark.range(3, 15).toDF('id').show()

spark.range(0, 20, 2).toDF('id').show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

+---+
| id|
+---+
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
+---+

+---+
| id|
+---+
|  0|
|  2|
|  4|
|  6|
|  8|
| 10|
| 12|
| 14|
| 16|
| 18|
+---+

In [ ]:
sc.stop()